<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Agreed_01-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,150}</string>
                <key>spriteSourceSize</key>
                <string>{239,150}</string>
                <key>textureRect</key>
                <string>{{1022,1808},{239,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Agreed_02-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,137}</string>
                <key>spriteSourceSize</key>
                <string>{239,137}</string>
                <key>textureRect</key>
                <string>{{924,1669},{239,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BR-UI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,150}</string>
                <key>spriteSourceSize</key>
                <string>{343,150}</string>
                <key>textureRect</key>
                <string>{{1,1894},{343,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,121}</string>
                <key>spriteSourceSize</key>
                <string>{339,121}</string>
                <key>textureRect</key>
                <string>{{1923,1},{339,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HammerIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,292}</string>
                <key>spriteSourceSize</key>
                <string>{298,292}</string>
                <key>textureRect</key>
                <string>{{1,555},{298,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LOGO-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,161}</string>
                <key>spriteSourceSize</key>
                <string>{220,161}</string>
                <key>textureRect</key>
                <string>{{346,1817},{220,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Light_00001-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,437}</string>
                <key>spriteSourceSize</key>
                <string>{446,437}</string>
                <key>textureRect</key>
                <string>{{244,1369},{446,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Light_Green-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,376}</string>
                <key>spriteSourceSize</key>
                <string>{1020,376}</string>
                <key>textureRect</key>
                <string>{{346,555},{1020,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_Orange-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{978,378}</string>
                <key>spriteSourceSize</key>
                <string>{978,378}</string>
                <key>textureRect</key>
                <string>{{346,933},{978,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightonScreen_Down_01-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,169}</string>
                <key>spriteSourceSize</key>
                <string>{191,169}</string>
                <key>textureRect</key>
                <string>{{509,1817},{191,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LightonScreen_Down_02-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,169}</string>
                <key>spriteSourceSize</key>
                <string>{191,169}</string>
                <key>textureRect</key>
                <string>{{680,1817},{191,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LightonScreen_Top_01-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,169}</string>
                <key>spriteSourceSize</key>
                <string>{191,169}</string>
                <key>textureRect</key>
                <string>{{851,1811},{191,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LightonScreen_Top_02-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,169}</string>
                <key>spriteSourceSize</key>
                <string>{191,169}</string>
                <key>textureRect</key>
                <string>{{1271,1369},{191,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paper-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,155}</string>
                <key>spriteSourceSize</key>
                <string>{160,155}</string>
                <key>textureRect</key>
                <string>{{1323,1562},{160,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PaperIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,292}</string>
                <key>spriteSourceSize</key>
                <string>{298,292}</string>
                <key>textureRect</key>
                <string>{{683,1369},{298,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Random_01-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,147}</string>
                <key>spriteSourceSize</key>
                <string>{239,147}</string>
                <key>textureRect</key>
                <string>{{1174,1669},{239,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Random_02-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,140}</string>
                <key>spriteSourceSize</key>
                <string>{239,140}</string>
                <key>textureRect</key>
                <string>{{683,1669},{239,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,60}</string>
                <key>spriteSourceSize</key>
                <string>{75,60}</string>
                <key>textureRect</key>
                <string>{{1923,581},{75,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rock-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,155}</string>
                <key>spriteSourceSize</key>
                <string>{160,155}</string>
                <key>textureRect</key>
                <string>{{1442,1369},{160,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ScissorIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,292}</string>
                <key>spriteSourceSize</key>
                <string>{298,292}</string>
                <key>textureRect</key>
                <string>{{977,1369},{298,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Scissors-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,155}</string>
                <key>spriteSourceSize</key>
                <string>{160,155}</string>
                <key>textureRect</key>
                <string>{{1323,1724},{160,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shadow-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,552}</string>
                <key>spriteSourceSize</key>
                <string>{1366,552}</string>
                <key>textureRect</key>
                <string>{{1,1},{1366,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TBv1-Shadow-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,552}</string>
                <key>spriteSourceSize</key>
                <string>{1366,552}</string>
                <key>textureRect</key>
                <string>{{1369,1},{1366,552}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Top_ButtonLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{2000,581},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,523}</string>
                <key>spriteSourceSize</key>
                <string>{241,523}</string>
                <key>textureRect</key>
                <string>{{1,1369},{241,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui-02-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,104}</string>
                <key>spriteSourceSize</key>
                <string>{237,104}</string>
                <key>textureRect</key>
                <string>{{1923,342},{237,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui-03-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,216}</string>
                <key>spriteSourceSize</key>
                <string>{400,216}</string>
                <key>textureRect</key>
                <string>{{1,933},{400,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,54}</string>
                <key>textureRect</key>
                <string>{{1923,643},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BoardGame.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08e8fb77a3d86e82732209d780c4cbe4:87aaeadc18ee36b62b424c0ef8d607ce:07dfe245a55191880ee49d96d0041197$</string>
            <key>textureFileName</key>
            <string>BoardGame.png</string>
        </dict>
    </dict>
</plist>
