<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Untitled2_0000_FX_Sheet-min_0000_Layer-2.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled2_0001_FX_Sheet-min_0001_Layer-3.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{296,1},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled2_0002_FX_Sheet-min_0002_Layer-4.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{591,1},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled2_0003_FX_Sheet-min_0003_Layer-5.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{1,263},{293,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Untitled2_0004_FX_Sheet-min_0004_Layer-6.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{1,558},{293,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Untitled2_0005_FX_Sheet-min_0005_Layer-7.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{263,263},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Untitled2_0006_FX_Sheet-min_0006_Layer-8.png-min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{293,260}</string>
                <key>textureRect</key>
                <string>{{558,263},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Firework.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49107784ddbd29a0a4221d512c7dd6ea:68d7e33c610c9304beeb6f8f8acfc72b:19d1805345365595ea2e9a5b4433a194$</string>
            <key>textureFileName</key>
            <string>Firework.png</string>
        </dict>
    </dict>
</plist>
